{
  "presets": [
    "babel-preset-react",
    [
      "babel-preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["syntax-object-rest-spread"]             
}
/* for latest features inside current is used both will compile for es6 & react for jsx files
below is also working syntax
{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
*/